
@import "../../style/mixins";


.container {

    li {
        position: relative;
        @include paddingVertical(1px);

        &:hover {
            background-color: #2a3043;
        }
    }
}

.caret {
    position: absolute;
    top: 7px;
    //left: 5px;
    color: #aaa;
    cursor: pointer;
    @include caret-bottom(5px);
}

.collapsed .caret {
    top: 4px;
    //left: 7.5px;
    @include caret-right(5px);
}

.symbol {
    color: #c87832;
    //font-weight: bold;

    &.colon {
        margin-right: 10px;
    }
}

.key {
    color: #d17bf1;
}

.boolean, .null {
    color: #c87832;
}

.number {
    color: #6897bb;
}

.string {
    //color: #d96629;
    color: #6a8759;
}

.undefined, .summary {
    color: #747772;
}
