
@import "../../lib/style/mixins";


.container {

    li {
        position: relative;
        @include padding-vertical(1px);

        &:hover {
            background-color: #2a3043;
        }
    }
}

.caret {
    position: absolute;
    top: 7px;
    color: #aaa;
}


.symbol {
    color: #c87832;
    //font-weight: bold;

    &.colon {
        margin-right: 10px;
    }
}

.key {
    color: #d17bf1;
}

.boolean, .null {
    color: #c87832;
}

.number {
    color: #6897bb;
}

.string {
    //color: #d96629;
    color: #6a8759;
}

.undefined, .summary {
    color: #747772;
}
