

@mixin caret-top($size: 4px) {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: $size dashed;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    vertical-align: middle;
}

@mixin caret-bottom($size: 4px) {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $size dashed;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    vertical-align: middle;
}

@mixin caret-right($size: 4px) {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size dashed;
    vertical-align: middle;
}

@mixin caret-left($size: 4px) {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size dashed;
    vertical-align: middle;
}
