

@mixin paddingHorizontal($size) {
    padding-right: $size;
    padding-left: $size;
}

@mixin paddingVertical($size) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin marginHorizontal($size) {
    margin-right: $size;
    margin-left: $size;
}

@mixin marginVertical($size) {
    margin-top: $size;
    margin-bottom: $size;
}
