
// Main colors
$color-primary: #db5124;

$black:         #222;
//$black-light:   #;
//$black-lighter: #;
//$gray-darker:   #;
//$gray-dark:     #;
//$gray:          #;
//$gray-light:    #;
//$gray-lighter:  #;
$white-darker:  #e5e5e5;
$white-dark:    #eee;
$white:         #fafafa;

// UI colors
$text-color:    #333;
